<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8L1tE8ByrgVT3kU2bmuVZh8PYhQs6Unc</string>
	<key>GCM_SENDER_ID</key>
	<string>21548054186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>my-project-6a0c8</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-6a0c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21548054186:ios:615a7c57caab52583902d3</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-6a0c8-default-rtdb.firebaseio.com</string>
</dict>
</plist>